<form id="loginForm" name="loginForm" novalidate>
    <div class="form-group">
        <p>You're about logging as  : <b>{{user.mail}}</b></p>
        <label for="user" class="control-label">Login :</label>
        <input type="text" class="form-control" id="user" name="user" ng-model="user.mail" required>
    </div>
    <div class="form-group">
        <label for="pwd" class="control-label">Password :</label>
        <input type="password" class="form-control" id="pwd" ng-model="user.pwd" name="pwd" required>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success" ng-click="login(user)" ng-disabled="loginForm.$invalid">Connexion</button>
    </div>
</form>
<div class="alert alert-danger" role="alert" ng-show="msgTxt!=undefined">{{msgTxt}}</div>
